$primary-color: whitesmoke;
$accent-color: crimson;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    background-color: $primary-color;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.clue {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    
    .clue__heading {
        position: relative;
        margin: 0 0 1rem 0;
        color: $primary-color;
        
        .clue__title {
            background-color: $accent-color;
            padding: 1rem;
            position: absolute;
            margin: 0;
            top: 0;
            left: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.6;
        }

        .clue__speaker {
            position: absolute;
            margin: 0;
            bottom: 1rem;
            right: 1rem;

            span {
                cursor: pointer;
                font-size: 2rem;
            }
        }
    }

    .clue__image--top {
        max-width: 360px;
    }

    .clue__body {
        .clue__description, .clue__coordinates {
            h3 {
                color: $accent-color;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.6;
            }

            p {
                font-size: 0.7rem;
                line-height: 1.7;
                font-weight: 400;
            }
        }

        .clue__coordinates {
            span {
                color: $accent-color;
            }
        }
    }
}