$primary-color: whitesmoke;
$accent-color: crimson;

body {
    background-color: $primary-color;
}

.clue {
    display: flex;
    flex-flow: column nowrap;

    .clue__image--top {
        max-width: 360px;
    }

    .clue__body {
        .clue__title {

        }

        .clue__description {

        }

        .clue_coordinates {

        }
    }
}